@font-face
{
    font-family: neu;
   src: url(/assets/NeueHaasDisplay-Mediu.woff) format("woff");
}
@font-face
{
    font-family: neubold;
   src: url(/assets/NeueHaasDisplay-Roman.woff) format("woff");
   font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}


#page1{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(233, 217, 217);
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 1vw 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-top: 1vh;
    max-width: 150px; 
    height: auto;
    margin-bottom: 5vh;
    
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1.2vw; 
   
}


#nav-part2 h4 {
    padding :10px 20px;
    border :1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    font-size: 18px;
    position: relative;
    /* transition: all ease 0.4s; */
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    background: linear-gradient(45deg, #4285f4, #f06292, #fe320a);    
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;
    
   
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius:0 ;
    padding: 5px;
    
}
#nav-part2 h4 a{

    text-decoration: none;
    color: #000;
    z-index: 9;
    position: relative;
    font-family: "neubold";
}

#nav-part2 h4 a:hover{
    color: #fff;

}
  

#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-bottom: 3vw;
    border-bottom: 1px solid #000000;
    
}


 #left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    margin: 25px;

}

#left h1{
    font-size:5vw ;
    font-weight: 600;
    color: #000000;
    font-family: "neubold";
    line-height:5vw;
}

#left span{
    background: linear-gradient(45deg, #4285f4, #f06292, #fe320a);
    font-family: "neu";
    -webkit-background-clip: text;
    color: transparent; /* Hides the original text */
    transition: background 0.3s ease-in-out; /* Adds a smooth transition effect */

}


#left h2{
    font-family:'neu';
}

#left p{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    font-family: 'neubold';
    margin-bottom: 2vw;
}

.custom-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #4285f4, #f06292, #fe320a);
    color: #fff;
    transition: background 0.3s ease;
    font-family: "neubold";
}

.custom-btn:hover {
    background: linear-gradient(to right, #ffe600, #000000);
    color: #ffffff;
  }
  
#right h1{
    font-size: 8vw;
    line-height:6vw;
    text-align:right;
}

#page1 video{
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;   
    position: relative; 
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}
 
#hero-1{

    background: linear-gradient(45deg, #4285f4, #f06292, #fe320a);    
    filter: blur(20px);
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius:50% ;
    position: absolute;
}
#hero-2{
    
    background: linear-gradient(45deg, #4285f4, #f06292, #fe320a);    
    filter: blur(20px);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name:anime2 ;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}
#hero-3{
    
    background: linear-gradient(45deg, #4285f4, #f06292, #fe320a);    
    filter: blur(20px);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name:anime1 ;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
}


@keyframes anime1 {
    from{
        transform: translate(55%,-3%);
    }
    to{
        transform: translate(0%,10%);
    }
}


@keyframes anime2 {
    from{
        transform: translate(5%,-3%);
    }
    to{
        transform: translate(-20%,20%);
    }
}




