*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}


#page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 245, 245);
    position: relative;
}

nav{
    padding: 1vw 3vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin-top: 15px;
    max-width: 200px; 
    height: auto;
    
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1.2vw; 
   
}


#nav-part2 h4{
    padding :10px 20px;
    border :1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    font-size: 18px;
    position: relative;
    /* transition: all ease 0.4s; */
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    background-color: #000000;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50px;
    transition: all ease 0.4s;
    
   
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius:0 ;
    
}
#nav-part2 h4 a{

    text-decoration: none;
    color: #000;
    z-index: 9;
    position: relative;

}

#nav-part2 h4 a:hover{
    color: #fff;
}












